[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "~=6.0.2"
gevent = "~=24.2.1"
gunicorn = "~=23.0.0"
Flask = "~=3.0.3"
pillow = "~=10.4.0"
python-dotenv = "~=1.0.1"
logging-utilities = "~=4.5.0"
werkzeug = "~=3.0.6"

[dev-packages]
yapf = "*"
nose2 = "*"
pylint = "*"
pylint-flask = "*"
cairosvg = "*"

[requires]
python_version = "3.12"
