[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
gevent = "*"
gunicorn = "*"
Flask = "~=2.2.5"
Pillow = "*"
python-dotenv = "*"
logging-utilities = "*"
cairosvg = "*"

[dev-packages]
yapf = "*"
nose2 = "*"
pylint = "*"
pylint-flask = "*"

[requires]
python_version = "3.11"
